@{
    ViewData["Title"] = "Poll";
}

<div class="text-center">
    <img src="~/images/logo2-small.png" class="img-fluid" />
</div>

<div class="text-center">
    <h1 class="display-4">CSharpWars</h1>
    <p>Please vote on your favorite subject</p>
</div>

<br />

<div class="text-center">
    <a asp-action="Backend" class="btn btn-primary">Backend ASP.NET Core WebApi</a>
</div>

<br />

<div class="text-center">
    <a asp-action="Middleware" class="btn btn-primary">Script Processing Middleware</a>
</div>

<br />

<div class="text-center">
    <a asp-action="Frontend" class="btn btn-primary">Unity Frontend</a>
</div>