@model ResultViewModel

@{
    ViewData["Title"] = "Poll results";
}

<div class="text-center">
    <img src="~/images/logo2-small.png" class="img-fluid" />
</div>

<div class="text-center">
    <h1 class="display-4">CSharpWars</h1>
    <p>Poll results</p>
</div>

<br />

<div class="text-center">
    <h1 class="display-4">Backend</h1>
    <p>@Model.Backend</p>
</div>

<br />

<div class="text-center">
    <h1 class="display-4">Middleware</h1>
    <p>@Model.Middleware</p>
</div>

<br />

<div class="text-center">
    <h1 class="display-4">Frontend</h1>
    <p>@Model.Frontend</p>
</div>